<button class="save" ng-click="save()">Save</button>

<link ng-if="lens.type==='freeform'" rel="import" href="../bower_components/lenses-freeform/lenses-freeform.html" >
<lenses-freeform ng-if="lens.type==='freeform'" id="page-lens" structure="{{lensStructure}}" ng-init="setHeights()"></lenses-freeform>

<link ng-if="lens.type==='linear'" rel="import" href="../bower_components/lens-composer/lens-composer.html" >
<lens-composer ng-if="lens.type==='linear'" id="page-lens" nodes="{{lensStructure || []}}" lensTitle="{{lens.title}}" lensAuthor="{{lens.author}}"  ng-init="setHeights()"></lens-composer>
