<div class="buttons">
<button  ng-if="lens.editable" class="save" ng-click="save()">Save</button>
<button  ng-if="!lens.editable" class="fork" ng-click="fork()">Fork</button>
<a ng-if="lens.finalResult" href="/viewer/{{lens._id}}" target="_blank"><button class="view"> View </button></a>
</div>

<link ng-if="lens.type==='freeform'" rel="import" href="../bower_components/lenses-freeform/lenses-freeform.html" >
<lenses-freeform ng-if="lens.type==='freeform'" id="page-lens" structure="{{lensStructure}}" ng-init="setHeights()"></lenses-freeform>

<link ng-if="lens.type==='linear'" rel="import" href="../bower_components/lens-composer/lens-composer.html" >
<lens-composer ng-if="lens.type==='linear'" id="page-lens" nodes="{{lensStructure || []}}" lensTitle="{{lens.title}}" lensAuthor="{{lens.author}}"  ng-init="setHeights()"></lens-composer>
